# Deliverable 2. Create a Customer Travel Destinations Map:

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config1 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

import numpy as np 
from citipy import citipy
#import requests
#import pandas as pd 
from datetime import datetime

#from config1 import weather_api_key  
#from config1 import g_key

# 1. Import the WeatherPy_Database.csv file from your Weather_Database folder from Deliverable 1 as a DataFrame:

In [2]:
city_data_df = pd.read_csv("/Users/awebber00/Desktop/Columbia/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,sai buri,TH,2021-01-17 06:42:02,6.7013,101.6168,86.00,62,40,10.36,scattered clouds
1,1,vaini,TO,2021-01-17 06:33:48,-21.2000,-175.2000,84.20,84,75,5.75,broken clouds
2,2,luderitz,NaN,2021-01-17 06:34:25,-26.6481,15.1594,68.16,59,0,9.73,clear sky
3,3,saint-philippe,RE,2021-01-17 06:34:05,-21.3585,55.7679,86.00,66,0,8.05,clear sky
4,4,dabat,ET,2021-01-17 06:42:02,12.9842,37.7650,63.46,31,100,3.67,overcast clouds

# 2. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation:

In [8]:
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 90

# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method:

In [9]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,sai buri,TH,2021-01-17 06:42:02,6.7013,101.6168,86.00,62,40,10.36,scattered clouds
1,1,vaini,TO,2021-01-17 06:33:48,-21.2000,-175.2000,84.20,84,75,5.75,broken clouds
2,2,luderitz,NaN,2021-01-17 06:34:25,-26.6481,15.1594,68.16,59,0,9.73,clear sky
3,3,saint-philippe,RE,2021-01-17 06:34:05,-21.3585,55.7679,86.00,66,0,8.05,clear sky
4,4,dabat,ET,2021-01-17 06:42:02,12.9842,37.7650,63.46,31,100,3.67,overcast clouds
7,7,sagaing,MM,2021-01-17 06:42:02,21.8787,95.9797,82.40,44,0,4.61,clear sky
10,10,saiha,IN,2021-01-17 06:40:06,22.4833,92.9667,77.65,30,52,4.23,broken clouds
11,11,tuy hoa,VN,2021-01-17 06:42:02,13.0833,109.3000,74.59,73,86,17.43,overcast clouds
12,12,mahebourg,MU,2021-01-17 06:33:51,-20.4081,57.7000,86.00,70,75,13.80,broken clouds
13,13,butaritari,KI,2021-01-17 06:33:57,3.0707,172.7902,80.82,78,56,19.37,broken clouds

# 4a. Determine if there are any empty rows.  4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows:

In [15]:
preferred_cities_df.count()

City_ID                389
City                   388
Country                385
Date                   389
Lat                    389
Lng                    389
Max Temp               389
Humidity               389
Cloudiness             389
Wind Speed             389
Current Description    389
dtype: int64

In [60]:
preferred_cities_df.dropna(subset=['Country'])
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,sai buri,TH,2021-01-17 06:42:02,6.7013,101.6168,86.00,62,40,10.36,scattered clouds
1,1,vaini,TO,2021-01-17 06:33:48,-21.2000,-175.2000,84.20,84,75,5.75,broken clouds
3,3,saint-philippe,RE,2021-01-17 06:34:05,-21.3585,55.7679,86.00,66,0,8.05,clear sky
4,4,dabat,ET,2021-01-17 06:42:02,12.9842,37.7650,63.46,31,100,3.67,overcast clouds
7,7,sagaing,MM,2021-01-17 06:42:02,21.8787,95.9797,82.40,44,0,4.61,clear sky
10,10,saiha,IN,2021-01-17 06:40:06,22.4833,92.9667,77.65,30,52,4.23,broken clouds
11,11,tuy hoa,VN,2021-01-17 06:42:02,13.0833,109.3000,74.59,73,86,17.43,overcast clouds
12,12,mahebourg,MU,2021-01-17 06:33:51,-20.4081,57.7000,86.00,70,75,13.80,broken clouds
13,13,butaritari,KI,2021-01-17 06:33:57,3.0707,172.7902,80.82,78,56,19.37,broken clouds
14,14,tiruchchendur,IN,2021-01-17 06:42:03,8.4833,78.1167,82.40,74,40,9.22,scattered clouds

# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates. 5b. Create a new column "Hotel Name":

In [65]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description","Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,sai buri,TH,86.00,scattered clouds,6.7013,101.6168,
1,vaini,TO,84.20,broken clouds,-21.2000,-175.2000,
3,saint-philippe,RE,86.00,clear sky,-21.3585,55.7679,
4,dabat,ET,63.46,overcast clouds,12.9842,37.7650,
7,sagaing,MM,82.40,clear sky,21.8787,95.9797,

# 6a. Set parameters to search for hotels with 5000 meters:
- 6b. Iterate through the hotel DataFrame.
- 6c. Get latitude and longitude from DataFrame.
- 6d. Set up the base URL for the Google Directions API to get JSON data.
- 6e. Make request and retrieve the JSON data from the search. 
- 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [66]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

for index, row in hotel_df.iterrows(): 
    
    lat = row["Lat"]
    lng = row["Lng"]

    
    params["location"] = f"{lat},{lng}"

    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
   
    hotels = requests.get(base_url, params=params).json()
    try:
    
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [79]:
hotel_df.head(30)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,sai buri,TH,86.00,scattered clouds,6.7013,101.6168,ร้าน​ เวดดิ้ง
1,vaini,TO,84.20,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
3,saint-philippe,RE,86.00,clear sky,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
4,dabat,ET,63.46,overcast clouds,12.9842,37.7650,Haymanot hotel
7,sagaing,MM,82.40,clear sky,21.8787,95.9797,Makara Cruise
10,saiha,IN,77.65,broken clouds,22.4833,92.9667,"Circuit House, Siaha"
11,tuy hoa,VN,74.59,overcast clouds,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa
12,mahebourg,MU,86.00,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
13,butaritari,KI,80.82,broken clouds,3.0707,172.7902,Isles Sunset Lodge
14,tiruchchendur,IN,82.40,scattered clouds,8.4833,78.1167,Hotel Udhayam International
15,mahibadhoo,MV,81.84,clear sky,3.7833,72.9667,Omadhoo Inn
16,east london,ZA,73.40,clear sky,-33.0153,27.9116,Tu Casa
19,la libertad,EC,75.90,overcast clouds,-2.2333,-80.9000,Playa Canela Hotel Boutique
20,rikitea,PF,78.58,clear sky,-23.1203,-134.9692,Pension Maro'i
22,isangel,VU,86.00,light rain,-19.5500,169.2667,Volcano Sea View Tree House
24,puerto ayora,EC,73.99,clear sky,-0.7393,-90.3518,Castillo Galapagos
25,avarua,CK,80.60,haze,-21.2078,-159.7750,Paradise Inn
26,bredasdorp,ZA,68.00,clear sky,-34.5322,20.0403,Bredasdorp Country Manor
28,salinopolis,BR,78.42,overcast clouds,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
30,kidal,ML,60.58,overcast clouds,18.4411,1.4078,
31,bluff,NZ,56.64,light rain,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
32,san patricio,US,50.00,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
34,port elizabeth,ZA,71.60,clear sky,-33.9180,25.5701,39 On Nile Guest House
35,tiarei,PF,82.40,few clouds,-17.5333,-149.3333,Le Rocher de Tahiti
36,rio pardo de minas,BR,62.01,overcast clouds,-15.6097,-42.5397,Hotel Oásis Cidade Alta
37,atuona,PF,77.83,clear sky,-9.8000,-139.0333,Villa Enata
38,saint-pierre,RE,87.80,clear sky,-21.3393,55.4781,Lindsey Hôtel
40,laguna,US,51.01,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
42,porto santo,PT,59.00,scattered clouds,33.0720,-16.3415,Hotel Porto Santo & Spa
43,mataura,NZ,54.88,moderate rain,-46.1927,168.8643,Ellie's Villa

# 7. Drop the rows where there is no Hotel Name.

In [96]:
hotel_df.count()

City                   384
Country                384
Max Temp               384
Current Description    384
Lat                    384
Lng                    384
Hotel Name             384
dtype: int64

In [97]:
hotel_df.dropna(subset = ["Hotel Name"], inplace=True)
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,sai buri,TH,86.00,scattered clouds,6.7013,101.6168,ร้าน​ เวดดิ้ง
1,vaini,TO,84.20,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
3,saint-philippe,RE,86.00,clear sky,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
4,dabat,ET,63.46,overcast clouds,12.9842,37.7650,Haymanot hotel
7,sagaing,MM,82.40,clear sky,21.8787,95.9797,Makara Cruise
10,saiha,IN,77.65,broken clouds,22.4833,92.9667,"Circuit House, Siaha"
11,tuy hoa,VN,74.59,overcast clouds,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa
12,mahebourg,MU,86.00,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
13,butaritari,KI,80.82,broken clouds,3.0707,172.7902,Isles Sunset Lodge
14,tiruchchendur,IN,82.40,scattered clouds,8.4833,78.1167,Hotel Udhayam International

# 8a. Create the output File (CSV). 8b. Export the City_Data into a csv:

In [111]:
output_data_file = "/Users/awebber00/Desktop/Columbia/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv"
hotel_df.to_csv(output_data_file, index_label="City_ID")

# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city:

In [110]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} & {Max Temp} °F</dd> 
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list:

In [ ]:
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

#  10b. Get the latitude and longitude from each row and store in a new DataFrame:

In [109]:
locations = hotel_df[["Lat", "Lng"]]
locations

         Lat       Lng
0     6.7013  101.6168
1   -21.2000 -175.2000
3   -21.3585   55.7679
4    12.9842   37.7650
7    21.8787   95.9797
..       ...       ...
663  14.5106    6.7650
665   6.1241   81.1185
666  -2.6741  141.3028
668 -21.0500   31.6667
669 -14.2667   50.1667

[384 rows x 2 columns]

In [107]:
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows() ]
fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))